<p>
  <strong>User:</strong>
  <%= @workout.user.name %>
</p>

<p>
  <strong>Workout date:</strong>
  <%= @workout.workout_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @workout.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<p>
  <strong>Score:</strong>
  <%= @workout.score %>
</p>

<p>
  <strong>Units:</strong>
  <%= @workout.units %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
