<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<p>
  <strong>Score units:</strong>
  <%= @workout.score_units %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
