<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @workout.user %>
</p>

<p>
  <strong>Workout date:</strong>
  <%= @workout.workout_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @workout.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @workout.location %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
