<p id="notice"><%= notice %></p>

<h1>Components</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Component Type</th>
      <th>Result type</th>
      <th>Result units</th>
      <th>Result sort order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.title %></td>
        <td><%= component.description %></td>
        <td><%= component.component_type %></td>
        <td><%= component.result_type %></td>
        <td><%= component.result_units %></td>
        <td><%= component.result_sort_order %></td>
        <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_component_path %>
